header  {
    > div {
        background-color: white;
    }
    > h1 {
        color: red;
        background-color: yellow;
    }
}

body {
    background-color: #eeeeee;
    & > main {
        background-color: white;


        & > section {
            & > :first-child {

                /* la pizza */
                & > h3 {
                    color: magenta;
                }

                /* el $ */
                & > p {
                    color: magenta;
                }
                /* el boton */
                & > :last-child {
                    color: chocolate;
                }
            }

            & > section {
                /* la desc de las pizzas */
                & > :nth-child(3) {
                    color: green;
                    /* el boton */
                    & ~ button {
                        color: rebeccapurple;
                        &:focus {
                            background-color: rgb(70, 70, 70);
                            color: yellow;
                        }
    
                        &:hover {
                            background-color: rgb(70, 70, 70);
                            color: yellow;
                        }
                    }
                }
                /* nombres de las pizzas */
                & > h3 {
                    color: blue;
                }
                 /* el cash $ */
                & + section {
                    color: red;
                    
                }
            }
        }
    }
}  